<div class="d-flex justify-content-between mx-3">
  <h1><%= @article.title %></h1>
  <%= link_to edit_article_path(@article), class: 'btn' do %>
      <i class="fa-solid fa-pencil"> Edit this article</i>
  <% end %>
</div>
<p class="mx-2 mb-0"><%= @article.content %></p>

<%= link_to 'Back to list', articles_path %>
